<!DOCTYPE html>
<html>
<head>
    <title>Wine Quality Prediction</title>
</head>
<body>
    <h1>Wine Quality Prediction</h1>
    <form action="/predict" method="post">
        Fixed Acidity: <input type="text" name="fixed_acidity"><br>
        Volatile Acidity: <input type="text" name="volatile_acidity"><br>
        Citric Acid: <input type="text" name="citric_acid"><br>
        Residual Sugar: <input type="text" name="residual_sugar"><br>
        Chlorides: <input type="text" name="chlorides"><br>
        Free Sulfur Dioxide: <input type="text" name="free_sulfur_dioxide"><br>
        Total Sulfur Dioxide: <input type="text" name="total_sulfur_dioxide"><br>
        Density: <input type="text" name="density"><br>
        pH: <input type="text" name="pH"><br>
        Sulfates: <input type="text" name="sulfates"><br>
        Alcohol: <input type="text" name="alcohol"><br>
        Wine Type:
        <select name="wine_type">
            <option value="Red Wine">Red Wine</option>
            <option value="White Wine">White Wine</option>
        </select><br>
        <input type="submit" value="Predict">
    </form>

    {% if prediction %}
        <h2>{{ prediction }}</h2>
    {% endif %}
</body>
</html>
